<section data-ng-controller="NewslettersController">
    <div class="row logo">
        <div class="col-sm-12">
            <div class="arena-logo" ng-click="gohome()"></div>
        </div>
    </div>
    <div class="row signup-section">
        <div class="col-sm-7">
            <div class="cblock img-rounded mleft">
                <div class="row">
                    <div class="col-md-5">
                        <div class="ultimate-guide">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="action-call-ebook">
                            <p>Packed full of beautiful images and expert tips, consectetuer adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="cblock img-rounded mright">
                <h2 data-ng-show="showForm">Download our free <span>eBook</span> packed full of expert infomation and tips</h2>
                <form name="myForm" role="form" data-ng-submit="create()" novalidate  data-ng-show="showForm">
                    <fieldset>
                        <div class="form-group">
                            <div class="controls">
                                <input type="email" name="useremail" ng-model="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" class="form-control email" placeholder="Email Address" maxlength="50" required ng-focus="error = 'false'">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <input type="text" name="postcode" ng-model="postcode" ng-pattern='UKGovPostcodeRegex' class="form-control postcode" maxlength="8" placeholder="Postcode" required ng-focus="error = 'false'">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <input type="submit" class="btn btn-block">
                                </div>
                            </div>
                        </div>
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>

                </form>
                <div class="indicator" data-ng-show="showIndicator"></div>
                <div class="action-call-thanks" data-ng-show="showDownload">
                    <p>Please click on the <span>eBook</span> pdf icon below to complete your free download.</p>
                    <p class="guide"><a href="{{guide}}" target="_blank"><img src="modules/newsletters/img/pdf-icon.png"></a> &nbsp;<a href="{{guide}}" target="_blank">Ultimate Guide to Flowers</a></p>
                    <p>We hope you enjoy the read.</p>
                    <div class="arena-logo-sm" ng-click="gohome()"></div>
                </div>
            </div>
        </div>
    </div>
</section>