<section data-ng-controller="NewslettersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Newsletters</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="newsletter in newsletters" data-ng-href="#!/newsletters/{{newsletter._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="newsletter.created | date:'medium'"></span>
				by
				<span data-ng-bind="newsletter.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="newsletter.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!newsletters.$resolved || newsletters.length">
    	No Newsletters yet, why don't you <a href="/#!/newsletters/create">create one</a>?
    </div>
</section>