body { min-width: 320px; }

.arena-logo { 
	background-image: url(/modules/newsletters/img/arena-logo.png);
	width:100%; 
	height: 40px;
	background-size: 260px 40px;
	background-position: center top;
	background-repeat: no-repeat;
	margin: 20px auto;
	cursor: pointer;
}

.arena-logo-sm { 
	background-image: url(/modules/newsletters/img/arena-logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 180px;
	height: 27px;
	margin: 10px 0 20px 0;
	cursor: pointer;
}

.arena-logo:hover, .arena-logo-sm:hover {
	opacity: 0.9;
}

.logo {
	max-width: 956px;
	margin: 0 auto;
	padding: 0;
}

.signup-section { 
	background-image: url(/modules/newsletters/img/newsletter-signup-bg.jpg);
	background-size:auto 980px;
	height:980px;
	height:940px;
	max-width: 956px;
	margin: 0 auto;
}
.cblock { 
	background: rgb(255, 255, 255); 
	background: rgba(255,255,255,0.8); 
	margin:50px 0; 
	padding: 14px 30px 8px 30px; 
}

.mleft { margin-left:0; }
.mright { margin-right:0; }

.cblock h2 { color:#2C3F13; font-size: 16px; font-weight: normal; line-height: 22px; }
.cblock h2 span { color:#F7AC00; }

.ultimate-guide { 
	background-image: url(/modules/newsletters/img/ultimate-guide.png);
	background-repeat: no-repeat;
	background-position: center top;
	width: 196px;
	height: 226px;
	margin:0 auto 0 auto;
}

.action-call-ebook { 
	background-image: url(/modules/newsletters/img/action-call-eBook.png);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 80px;
	min-height:67px;
	margin: 10px 0 0 0;
}
.action-call-ebook p {
	color:#2C3F06;
}

.indicator {
	background-image: url(/modules/newsletters/img/spinner.gif);
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 210px;

}

.action-call-thanks {
	background-image: url(/modules/newsletters/img/action-call-thanks.png);
	background-repeat: no-repeat;
	background-size: 94px 23px;
	margin-top: 10px;
	padding-top: 40px;
}

p.guide {
	text-align: center;
	margin: 20px 0;
	font-size: 16px;
}
p.guide img { 
	margin-top: -6px;
}

a { color: #5E6B43; }
a:hover { color: #5E6B43; }

.btn { 
	background-image: url(/modules/newsletters/img/newsletter-submit-bg.jpg); 
	color: #FFF; 
	border: 0; 
}

@media only screen and (min-width: 321px) {
	.arena-logo { background-position: left top; margin: 20px 0 20px -20px; }
}

@media only screen and (min-width: 480px) {
	.signup-section { height:824px; background-size:auto 824px;  }
	.action-call-ebook { background-image: url(/modules/newsletters/img/action-call-eBook-alt1.png); padding-top: 40px; }
}

@media only screen and (min-width: 768px) {
	.signup-section { height:526px; background-size:956px auto; }
	.mleft { margin-left:20px; }
	.mright { margin-right:20px; }
	.action-call-ebook {  margin: 10px 0 0 14px; background-image: url(/modules/newsletters/img/action-call-eBook.png); padding-top: 80px; }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 992px) {
	.signup-section { height:418px; }
	.ultimate-guide { margin:0 0 0 -16px; }
	.action-call-ebook { margin: 10px 0 0 0; background-position: left top; }
}

